div
	.b-slide-header
		.b-slide-number 02
		.b-slide-title Помечу был выбран canvas
	.b-slide-content
		div Положилетьные и отрецательные стороны изпользования canvas
		div &nbsp;
		div + Производительность
		div + Удолетворение личного интереса
		div &nbsp;
		div - Больший обьем кода
		div - Больше затраты времени на продумывание верстки
		div - Не известные перспективы кросбраузерной совместимости


