div(ng-controller = "slide3Ctrl")
	.b-slide-header
		.b-slide-number 03
		.b-slide-title Производительность
	.b-slide-content
		.b-table
			.b-table-row
				.b-table-col
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10
			.b-table-row
				.b-table-col Вставить html строкой
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10
			.b-table-row
				.b-table-col Вставить html по элементам
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10
			.b-table-row
				.b-table-col Canvas
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10
			.b-table-row
				.b-table-col Canvas и AntiAliase
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10

		.b-test-button(ng-click = "test()") Потестить
		#test-target
