div(ng-controller = "slide3Ctrl")
	.b-slide-header
		.b-slide-number 03
		.b-slide-title Производительность
	.b-slide-content
		.b-table
			.b-table-row
				.b-table-col
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10
			.b-table-row
				.b-table-col Вставить html строкой
				.b-table-col 92 ms
				.b-table-col 177 ms
				.b-table-col 91 ms
				.b-table-col 302 ms
				.b-table-col 188 ms
			.b-table-row
				.b-table-col Вставить html по элементам
				.b-table-col 145 ms
				.b-table-col 213 ms
				.b-table-col 68 ms
				.b-table-col 743 ms
				.b-table-col 477 ms
			.b-table-row
				.b-table-col Canvas
				.b-table-col 76 ms
				.b-table-col 323 ms
				.b-table-col 83 ms
				.b-table-col 193 ms
				.b-table-col 266 ms

		.b-test-button(ng-click = "test()") Потестить
		#test-target
