div(ng-controller = "slide3Ctrl")
	.b-slide-header
		.b-slide-number 03
		.b-slide-title Производительность
	.b-slide-content
		.b-table
			.b-table-row.b-table-row--header
				.b-table-col
				.b-table-col Chrome
				.b-table-col FF
				.b-table-col Safari
				.b-table-col IE 11
				.b-table-col IE 10
			.b-table-row
				.b-table-col Вставить html строкой
				.b-table-col.b-table-col--content 92 
				.b-table-col.b-table-col--content 177 
				.b-table-col.b-table-col--content 91 
				.b-table-col.b-table-col--content 302 
				.b-table-col.b-table-col--content 188 
			.b-table-row
				.b-table-col Вставить html по элементам
				.b-table-col.b-table-col--content 145 
				.b-table-col.b-table-col--content 213 
				.b-table-col.b-table-col--content 68 
				.b-table-col.b-table-col--content 743 
				.b-table-col.b-table-col--content 477 
			.b-table-row
				.b-table-col Canvas
				.b-table-col.b-table-col--content 76 
				.b-table-col.b-table-col--content 323 
				.b-table-col.b-table-col--content 83 
				.b-table-col.b-table-col--content 193 
				.b-table-col.b-table-col--content 266 

		.b-test-button(ng-click = "test()") Потестить
		#test-target
