div(ng-controller = "slide4Ctrl")
	.b-slide-header
		.b-slide-number 04
		.b-slide-title Сглаживание текста
	.b-slide-content
		.b-text
			div Сглаженный текст браузером
			img(width="621" height = "63" src = "./dist/images/Image_4.jpg" style="margin: 8px 0 0 0; border: 1px solid rgba(0, 0, 0, 0.1)")

		.b-text
			div Текст в канвасе
			img(width="671" height = "72" src = "./dist/images/Image_3.jpg" style="margin: 8px 0 0 0; border: 1px solid rgba(0, 0, 0, 0.1)")

		.b-text
			div Сглаженный текст в канвасе
			div
				span Алгоритм расчета&nbsp;
				a(href="https://bel.fi/alankila/lcd/") https://bel.fi/alankila/lcd/
			img(width="#{175 * 3}" height = "#{19 * 3}" src = "./dist/images/Image_2.jpg" style="margin: 8px 0 0 0; border: 1px solid rgba(0, 0, 0, 0.1)")
