div
	.b-slide-header
		.b-slide-number 05 - 1
		.b-slide-title Css в канвасе
	.b-slide-content
		div Псевдо css, чтоб проще понимать
		pre.b-code
			code(data-language = "coffeescript").
				config:
					sizes:
						headerHeight: 56
						leftBlockWidth: 256
						rowHeight: 40
						minWidthDay: 24
						lineWidth: 1

					colors:
						mainText: '#292D38'
						secondText: '#99A8BF'

				...
