div
	.b-slide-header
		.b-slide-number 05
		.b-slide-title Маштабирование страницы
	.b-slide-content
		div Изображение в канвасе под маштабом
		div и/или мониторе с devicePixelRatio отличным от 1
		div(style = "margin: 16px 0 0 0; border: 1px solid rgba(0, 0, 0, 0.1); overflow: hidden; height: 496px")
			img(height = "496" src = "./dist/images/Image_5.jpg" style="")
