div
	.b-slide-header
		.b-slide-number 06
		.b-slide-title Мониторы Retina
	.b-slide-content
		div Изображение на мониторе с devicePixelRatio отличным от 1
		div(style = "margin: 16px 0 0 0; border: 1px solid rgba(0, 0, 0, 0.1); overflow: hidden; height: 496px")
			img(height = "496" src = "./dist/images/Image_.jpg" style="")
