div
	.b-slide-header
		.b-slide-number 06
		.b-slide-title Мониторы Retina
	.b-slide-content
		div Простое решение
		pre.b-code
			code(data-language = "coffeescript").
				hidefCanvasWidth = $(hidefCanvas).attr('width')
				hidefCanvasHeight = $(hidefCanvas).attr('height')

				$(hidefCanvas).attr('width', hidefCanvasWidth * window.devicePixelRatio)
				$(hidefCanvas).attr('height', hidefCanvasHeight * window.devicePixelRatio)
				$(hidefCanvas).css('width', hidefCanvasWidth)
				$(hidefCanvas).css('height', hidefCanvasHeight)
				hidefContext.scale(window.devicePixelRatio, window.devicePixelRatio)

				...