div
	.b-slide-header
		.b-slide-number 07
		.b-slide-title Прочие мелкие баги
	.b-slide-content
		div 1. Сглаживание текста, canvas, css3 анимация в Хроме
		div 2. IE и доступ к холсту
		div 3. drawImage У всех кроме Хрома
