div
	.b-slide-header
		.b-slide-number 07
		.b-slide-title Прочие мелкие баги
	.b-slide-content
		.b-p 1. Потеря сглаживание текста в элементах из-за canvas и css3 анимация в Хроме
		.b-p 2. В IE 11 закрыт доступ к холсту через context.getImageData из события mousemove
		.b-p 3. context.drawImage при любых не точностях выкидывает эксепшины во всех браузерах кроме Хрома
