div
	.b-slide-header
		.b-slide-number 08
		.b-slide-title Заключение
	.b-slide-content
		div
			span Презенташка&nbsp;
			a(href="") GitHub
		div
			span Моя почта&nbsp;
			a(href="FireVolkhov@gmail.com") FireVolkhov@gmail.com
